body{
    font-family: "微軟正黑體","Microsoft JhengHei";
    font-size: 16px;
}

.main-panel{
    display: flex;
}

.config-panel{
    min-width: 350px;
    width: 10%;
}

.config-panel input{
    width: 140px;
}
.config-panel input[type="range"]{
    width: 140px;
}
.config-panel input[type="radio"]{
    width: auto;
}
.config-panel input[type="number"]{
    width: 60px;
}
.config-panel .colorInput{
    width: 130px;
}

.config-panel > div{
    margin: 5px;
}

.config-panel span{
    margin-left: 10px;
    font-size: 0.8em
}

.view-panel td > select, .view-panel td > input{
    width: 100%;
}

.container{
    font-family: "新細明體","PMingLiU", "MingLiU", "微軟正黑體","Microsoft JhengHei";
	
	border-style: solid;
	text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    white-space: nowrap;
}
.preview {
	transform-origin: top left;
}


.isHide{
    display: none;
}