<!DOCTYPE html>
<html>
<head>
	<title>Text Tag Generator</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
	<!-- <script type="text/javascript" src="./res/js/html2canvas.min.js"></script> -->
	<script type="text/javascript" src="./res/js/html2canvas.min-1.0.0-rc.5.js"></script>
	<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
	<script type="text/javascript" src="./res/js/style-presets.js"></script>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
	<link rel='stylesheet' href='./res/css/main.css' />
</head>

<body>
	<h3>標籤製造器Beta（現時只有chrome能正常運作）</h3>
	<a href='index.html'>＞點此前往瀏覽器相容版</a>（在chrome渲染效果差）
	<hr>
	<div id='textGeneratorApp'>
		<span>
			<input type="checkbox" id="viewBoxConfig" :value="true" v-model="uiConfig.isBoxMode">
			<label for="viewBoxConfig">內框設定</label>&nbsp;

			<input type="checkbox" id="viewBorderConfig" :value="true" v-model="uiConfig.isDetailBorderMode">
			<label for="viewBorderConfig">詳細邊框設定</label>&nbsp;

			<input type="checkbox" id="numInputConfig" :value="true" v-model="uiConfig.useNumberInput">
			<label for="numInputConfig">數字輸入</label>&nbsp;

			<input type="checkbox" id="styleOperationConfig" :value="true" v-model="uiConfig.showStyleOperation">
			<label for="styleOperationConfig">模板及JSON</label>&nbsp;
		</span>
		<div class='main-panel'>
			<div class='config-panel'>
				<h3>文字部份</h3>
				<div>顏色：<input id='text-color-cpicker'>
					<input id='text-color' class='colorInput' type="text" v-model="text.color">
				</div>
				<div>文字：<input type="text" v-model="text.content"></div>
				<div>大小：<input :type="numInputType" v-model="text.fontSize" min="8" max="48"><span :class="{isHide: uiConfig.useNumberInput}">{{text.fontSize}}</span> </div>
				<div>字型：<input type="text" v-model="text.fontFamily"> </div>
				<div>間距：<input :type="numInputType" v-model="text.letterSpacing" min="-3" max="3"><span :class="{isHide: uiConfig.useNumberInput}">{{text.letterSpacing}}</span> </div>
				<div>水平位移：<input :type="numInputType" v-model="text.marginLeft" min="-40" max="40"><span :class="{isHide: uiConfig.useNumberInput}">{{text.marginLeft}}</span> </div>
				<div>垂直位移：<input :type="numInputType" v-model="text.marginTop" min="-40" max="40"><span :class="{isHide: uiConfig.useNumberInput}">{{text.marginTop}}</span> </div>
				<div>text-shadow: <input type="text" v-model="text.textShadow"></div>
				<br/>

				<h3>標籤部份</h3>
				<div>顏色：<input id='container-backgroundColor-cpicker'>
					<input id='container-backgroundColor' class='colorInput' type="text" v-model="container.backgroundColor">
				</div>
				<div>寬度：<input :type="numInputType" v-model="container.width" min="8" max="128"><span :class="{isHide: uiConfig.useNumberInput}">{{container.width}}</span> </div>
				<div>高度：<input :type="numInputType" v-model="container.height" min="8" max="48"><span :class="{isHide: uiConfig.useNumberInput}">{{container.height}}</span> </div>

				<div>邊框圓角：
					<div :class="{isHide: uiConfig.isDetailBorderMode}">
						<input :type="numInputType" v-model="container.borderRadius" min="0" max="48"><span :class="{isHide: uiConfig.useNumberInput}">{{container.borderRadius}}</span>
					</div>
					<div :class="{isHide: !uiConfig.isDetailBorderMode}">
						左上：<input type="number" v-model="container.borderTopLeftRadius" min="0" max="48">
						　右上：<input type="number" v-model="container.borderTopRightRadius" min="0" max="48"><br>
						左下：<input type="number" v-model="container.borderBottomLeftRadius" min="0" max="48">
						　右上：<input type="number" v-model="container.borderBottomRightRadius" min="0" max="48"><br>
					</div>
				</div>
				<div>邊框大小：
					<div :class="{isHide: uiConfig.isDetailBorderMode}">
						<input :type="numInputType" v-model="container.borderWidth" min="0" max="25"><span :class="{isHide: uiConfig.useNumberInput}">{{container.borderWidth}}</span>
					</div>
					<div :class="{isHide: !uiConfig.isDetailBorderMode}">
						左：<input type="number" v-model="container.borderLeftWidth" min="0" max="25">
						　右：<input type="number" v-model="container.borderRightWidth" min="0" max="25"><br>
						上：<input type="number" v-model="container.borderTopWidth" min="0" max="25">
						　下：<input type="number" v-model="container.borderBottomWidth" min="0" max="25"><br>
					</div>
				</div>
				
				<div>邊框顏色：
					<div :class="{isHide: uiConfig.isDetailBorderMode}">
						<input id="container-borderColor-cpicker">
						<input id='container-borderColor' class='colorInput' type="text" v-model="container.borderColor">
					</div>
					<div :class="{isHide: !uiConfig.isDetailBorderMode}">
						左：<input id="container-borderLeftColor-cpicker">
						<input id='container-borderLeftColor' class='colorInput' type="text" v-model="container.borderLeftColor"><br>
						右：<input id="container-borderRightColor-cpicker">
						<input id='container-borderRightColor' class='colorInput' type="text" v-model="container.borderRightColor"><br>
						上：<input id="container-borderTopColor-cpicker">
						<input id='container-borderTopColor' class='colorInput' type="text" v-model="container.borderTopColor"><br>
						下：<input id="container-borderBottomColor-cpicker">
						<input id='container-borderBottomColor' class='colorInput' type="text" v-model="container.borderBottomColor"><br>
					</div>
				</div>
			</div>

			<div class='config-panel' :class='{isHide: !uiConfig.isBoxMode}'>
				<h3>左側文字</h3>
				<div>背景顏色：<input id='leftBox-backgroundColor-cpicker'>
					<input id='leftBox-backgroundColor' class='colorInput' type="text" v-model="leftBox.backgroundColor">
				</div>
				<div>文字顏色：<input id='leftBox-color-cpicker'>
					<input id='leftBox-color' class='colorInput' type="text" v-model="leftBox.color">
				</div>
				<div>文字：<input type="text" v-model="leftBox.content"></div>
				<div>大小：<input :type="numInputType" v-model="leftBox.fontSize" min="8" max="48"><span :class="{isHide: uiConfig.useNumberInput}">{{leftBox.fontSize}}</span> </div>
				<div>字型：<input type="text" v-model="leftBox.fontFamily"> </div>
				<div>水平位移：<input :type="numInputType" v-model="leftBox.marginLeft" min="-40" max="40"><span :class="{isHide: uiConfig.useNumberInput}">{{leftBox.marginLeft}}</span> </div>
				<div>垂直位移：<input :type="numInputType" v-model="leftBox.marginTop" min="-40" max="40"><span :class="{isHide: uiConfig.useNumberInput}">{{leftBox.marginTop}}</span> </div>
				<div>text-shadow: <input type="text" v-model="leftBox.textShadow"></div>

				<h3>內框部份</h3>
				<div>顏色：<input id='box-backgroundColor-cpicker'>
					<input id='box-backgroundColor' class='colorInput' type="text" v-model="box.backgroundColor">
				</div>

				留白：
				<div>
					左：<input type="number" v-model="box.paddingLeft" min="0" max="15">
					　右：<input type="number" v-model="box.paddingRight" min="0" max="15"><br>
					上：<input type="number" v-model="box.paddingTop" min="0" max="15">
					　下：<input type="number" v-model="box.paddingBottom" min="0" max="15"><br>
				</div>

				<div>邊框圓角：
					<div :class="{isHide: uiConfig.isDetailBorderMode}">
						<input :type="numInputType" v-model="box.borderRadius" min="0" max="48"><span :class="{isHide: uiConfig.useNumberInput}">{{box.borderRadius}}</span>
					</div>
					<div :class="{isHide: !uiConfig.isDetailBorderMode}">
						左上：<input type="number" v-model="box.borderTopLeftRadius" min="0" max="48">
						　右上：<input type="number" v-model="box.borderTopRightRadius" min="0" max="48"><br>
						左下：<input type="number" v-model="box.borderBottomLeftRadius" min="0" max="48">
						　右上：<input type="number" v-model="box.borderBottomRightRadius" min="0" max="48"><br>
					</div>
				</div>
				<div>邊框大小：
					<div :class="{isHide: uiConfig.isDetailBorderMode}">
						<input :type="numInputType" v-model="box.borderWidth" min="0" max="15"><span :class="{isHide: uiConfig.useNumberInput}">{{box.borderWidth}}</span>
					</div>
					<div :class="{isHide: !uiConfig.isDetailBorderMode}">
						左：<input type="number" v-model="box.borderLeftWidth" min="0" max="15">
						　右：<input type="number" v-model="box.borderRightWidth" min="0" max="15"><br>
						上：<input type="number" v-model="box.borderTopWidth" min="0" max="15">
						　下：<input type="number" v-model="box.borderBottomWidth" min="0" max="15"><br>
					</div>
				</div>
				
				<div>邊框顏色：
					<div :class="{isHide: uiConfig.isDetailBorderMode}">
						<input id="box-borderColor-cpicker">
						<input id='box-borderColor' class='colorInput' type="text" v-model="box.borderColor">
					</div>
					<div :class="{isHide: !uiConfig.isDetailBorderMode}">
						左：<input id="box-borderLeftColor-cpicker">
						<input id='box-borderLeftColor' class='colorInput' type="text" v-model="box.borderLeftColor"><br>
						右：<input id="box-borderRightColor-cpicker">
						<input id='box-borderRightColor' class='colorInput' type="text" v-model="box.borderRightColor"><br>
						上：<input id="box-borderTopColor-cpicker">
						<input id='box-borderTopColor' class='colorInput' type="text" v-model="box.borderTopColor"><br>
						下：<input id="box-borderBottomColor-cpicker">
						<input id='box-borderBottomColor' class='colorInput' type="text" v-model="box.borderBottomColor"><br>
					</div>
				</div>
			</div>

			<div class='view-panel'>
				<div :class="{isHide: !uiConfig.showStyleOperation}">
					<h3>模板</h3>
					<table>
						<tr>
							<td>
								<select v-model="styles.selected">
									<optgroup label="預設">
									<option v-for="(content, key) in styles.preset.default" :value="'default-'+key">{{key}}</option>
									</optgroup>
									<!-- <optgroup label="自訂">
										<option v-for="(content, key) in styles.preset.custom" :value="'custom-'+key">{{key}}</option>
									</optgroup> -->
									<optgroup label="本機">
										<option v-for="(content, key) in styles.preset.local" :value="'local-'+key">{{key}}</option>
									</optgroup>
								</select>
							</td>
							<td>
								<button type="button" @click="deleteLocalStyle()">刪除（本機）</button>
							</td>
						</tr>
						<tr>
							<td>
								<div>名稱：<input type="text" v-model="styles.newStyleName"></div>
							</td>
							<td>
								<button type="button" @click="saveLocalStyle()">儲存（本機）</button>
							</td>
						</tr>
					</table>
					
					<h3>JSON</h3>
					<button type="button" @click="importJson()">匯入</button>&nbsp;
					<button type="button" @click="exportJson()">匯出</button><br/>
					<textarea id='jsonData'></textarea>
				</div>
				
				<h3>儲存圖片</h3>
				<button id='saveImg' type="button" @click="saveImg()">儲存圖片</button>
				<a id="link"></a>

				<h3>原始HTML</h3>
				<p style='color: red'>（各瀏覽器渲染不同，一律以生成圖片（一倍放大）為準，請根據圖片進行微調）</p>
				<div id="capture" class='container' :style="containerStyle">
					<span class='box' :style="boxStyle">
						<span class='leftBox' :style="leftBoxStyle">{{leftBox.content}}</span>
						<span class='text' :style="textStyle">{{text.content}}</span>
					</span>
				</div>

				<div><h3>生成圖片</h3>
				放大預覽：<br>
				<input type="range" v-model="uiConfig.zoomLevel" min="1" max="10"><span>{{uiConfig.zoomLevel}}</span> </div>

				<div class='preview' :style="previewZoom">
					<div id='result'></div>
					<!-- <div id="preview" class='container' :style="containerStyle">
						<span class='box' :style="boxStyle">
							<span class='leftBox' :style="leftBoxStyle">{{leftBox.content}}</span>
							<span class='text' :style="textStyle">{{text.content}}</span>
						</span>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="./res/js/main.js"></script>

	
</body>

</html>